@model List<ViolazioniImportoMaggiore400Model>

<h1>Violazioni con Importo Maggiore di 400 Euro</h1>

<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td>@violazione.Importo</td>
                <td>@violazione.Cognome</td>
                <td>@violazione.Nome</td>
                <td>@violazione.DataViolazione</td>
                <td>@violazione.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
